doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include navbar.pug
    .container
      each tweet in state
        .mesege-block
          .img-block
            img.img-logo(src=tweet.avatar)
          .txt-block
            p.username #{tweet.author}
            span.mail @#{tweet.screenname}
            .txt-container
              p.user-meseges #{tweet.body}
              
  script.
    function linkify(text){
      if (text) {
      text = text.replace(
      /((https?\\:\/\/)|(www\.))(\S+)(\w{2,4})(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/gi,
      function(url){
      let full_url = url;
      if (!full_url.match('^https?:\\/\/')) {
      full_url = 'http://' + full_url;
      }
      return '<a href="' + full_url + '">' + url + '</a>';
      }
      );
      }
      return text;
      }
      window.onload = function(){
      let elm =  document.getElementsByClassName("user-meseges");
      //console.log(elm);
      for( element of elm ){
      let modifiedHtml = linkify(element.innerHTML);
      element.innerHTML = modifiedHtml ;
      }
      }