nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/profile') Twitter Scraping
    ul.nav.navbar-nav
      li
        a(href='/CSC365') CSC365
      li
        a(href='/jokes') Jokes 
      li
        a(href='/holidays') Holidays 
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/logout')
          span.glyphicon.glyphicon-log-in
          |  Logout


